/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
ANIMATIONS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/


@keyframes sliderAppearance {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes appearance {
  from {opacity: 0;transform: translateY(20px);}
  to {opacity: 1;transform: translateY(0px);}
}

@keyframes SocialAppearance {
  from {opacity: 0;transform: translateY(-100px);}
  to {opacity: 1;transform: translateY(-125px);}
}


body {
  &.page-template-homepage {
    opacity: 0;
    animation: sliderAppearance 1s ease-in-out 0.5s;
    webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    .header .container {
      opacity: 0;
      animation: appearance 1s ease-in-out 1.5s;
      webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    h1 {
      opacity: 0;
      animation: sliderAppearance 1s ease-in-out 2.4s;
      webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .menu-social-media-container {
      opacity: 0;
      animation: SocialAppearance 1s ease-in-out 1.9s;
      webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .eventKind {
      opacity: 0;
      animation: appearance 1s ease-in-out 2.9s;
      webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      text-align: center;
    }
  }
}

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
