/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

.btn {

  width: auto;
  text-align: center;
  font-family: "montserrat";
  font-weight: 900;
  padding: 25px 30px;
  font-size: 1.4em;
  text-decoration: none;
  border-radius: 2px;
  background-color: $black;
  color:$AlejandraGrey;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: $basicTransition;
  position:relative;
  &.fixed-btn {
    position: absolute;
    margin-top: -150px;
    margin-left: 20px;
    z-index: 90;
  }
  &:hover,
  &:focus {
    background-color: transparent;
    color: $black;
    text-decoration:none;
    &::before {
      background-color: $black;
      transition: $basicTransition;
      top: 50%;
      margin-top: -1px;
      left: -10px;
      margin-left:0;
    }
    &::after {
      background-color: $black;
      transition: $basicTransition;
      top: 50%;
      margin-top: -1px;
      right: -10px;
      margin-right:0;
    }
  }
  &::before, &:after {
    background-color:$AlejandraGrey;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #323944;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
  }
  &::before {
    background-color: $AlejandraGrey;
    left:50%;
    margin-top:14px;
    margin-left:-10px;
  }
  &:after {
    background-color: $AlejandraGrey;
    margin-top:-16px;
    right: 50%;
    margin-right:-10px;
  }

}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display:none;
}

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend .btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button
