/******************************************************************
Site Name:
Author:

Stylesheet: Lightbox

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/

.lightboxSingle {
  cursor:pointer;
}
.lightbox {
  display:none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(255,255,255,0.95);
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
  }
  .controls {
    .close{
      position: absolute;
      display: block;
      z-index: 100;
      text-transform: uppercase;
      cursor: pointer;
      height: 40px;
      width: 40px;
      line-height: 40px;
      top: 5px;
      right: 5px;
      color: $black;
      border: 1px solid $black;
    }
    .navPrev, .navNext {
      position: absolute;
      height: 100%;
      display:block;
      width: 50%;
      line-height:100%;
      text-align:center;
      color: transparent;
    }
    .navPrev {
      left:0;
      cursor:url('../images/cursorPrev.png'), pointer;
    }
    .navNext {
      right:0;
      cursor:url('../images/cursorNext.png'), pointer;
    }
  }

}