/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.menuOpener {
  display:none;
}

.header {
  #logo {
    fill:$white;
    .alterColor{
      fill:$white ;
    }
  }
}