/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.single-events {

  .grid-sizer {
    width:calc(25% - 10px);
  }.gutter-sizer {
     width: 10px;
   }
  .grid-item{
    width:calc(25% - 10px);
  }
}

.page-template-portfolioAlter {
  .portfolioAlter {
    #gallery-content-center img {
      width: calc(25% - 10px);
    }
  }
}

.page-template-testimonial {
  .videoWrapper {
    width:30%;
  }
}