/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

body {
  /* HOMEPAGE */
  .header {
    background-color:$white;
    background-image:none;
    #logo {
      fill:$orange;
    }
    nav {
      display:none;
      float:none;
      width:100%;
      text-align:center;
      .nav {
        display: inline-block;
        li{
          &.qtranxs-lang-menu {
            border-color:$black;
            a{
            background-color:$white;
            }
          }
          a{
            color:$black;
          }
        }
      }
    }
  }
  h1 {
    width:90%;
    margin-left:5%;
    margin-top: 10px;
    font-size: 5em;
  }

  &.page-template-homepage {
    .eventKind {
      .eventButton {
        border-width:5px ;
      }
      .eventTitleContainer {
        h2 {
          font-size:2em;
        }
      }
    }
    .alejandraDescription {
      .descriptionContent {
        margin-top:200px;
      }
    }
    .lastEvents{
      &::before {
        display:none;
      }
      h2 {
        &::before {
          background-color:$AlejandraGrey;
        }
      }
    }

    h2 {
      width:80%;
      margin:0 auto;
    }

  }
}