/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html{
	height:calc(100% + 60px);
	margin:0;
}

body {
	font-family: $montserrat;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	padding: 30px;
	height:calc(100% + 60px);
	margin:0;
	&::after{
		content:'';
		width:100%;
		display:block;
		height:30px;
		background-color: $white;
		position:fixed;
		bottom:0;
		left:0;
		z-index:130;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}
h1 {
	width:90%;
	margin-left:5%;
	margin-top: 10px;
	top: 20%;
	position: absolute;
	z-index: 99;
	height: 50%;
	font-family: $playfair;
	color: $white;
	font-weight: 900;
	font-size: 5em;
	line-height: 1.2;
	text-align: center;
	&::before, &::after {
		width: 50px;
		height: 1px;
		content: '';
		display: block;
		background: $white;
		margin: 10px auto;
	}
}
h2 {
	font-family: "Playfair Display", serif;
	color: $black;
	font-size: 5em;
	font-weight: 900;
	line-height: 1;
	&::before, &::after {
		width: 50px;
		height: 2px;
		content: '';
		display: block;
		background: $black;
		margin: 40px auto;
	}
}
h3, .h3 {
	font-size: 2.5em;
	font-family: $playfair;
	font-weight:900;
	color: $AlejandraGrey;
}
h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}
h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p {
	font-size: 1.3em;
	text-align: center;
	line-height: 1.9;
	letter-spacing: 2px;
}
/*********************
HEADER STYLES
*********************/

.header {
	#logo {
		margin: 0.75em 0;
		fill:$orange;
		width:190px; /*230px*/
		.alterColor {
			fill: $black;
		}
	}
	nav {
		text-align:center;
		margin: 1.5em 0;
		display: inline-block ;
	}
}

.header {
	z-index: 120;
	font-family:$montserrat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-image: none;
	background-color:$white;
	nav {
		display:none;
		.nav {
			display: inline-block;
			border-bottom: 0;
			margin: 0;
			li {
				&.qtranxs-lang-menu {
					border: 1px solid $black;
				}
				a {
					letter-spacing: 1px;
					font-size: 1.3em;
					text-transform: uppercase;
					position: relative;
					transition: all cubic-bezier(0, 0.92, 0.45, 1.02) 0.2s;
					display: block;
					color: $black;
					text-decoration: none;
					padding: 0.75em;
					font-size: 1.3em;
					&:hover {
						text-decoration: none;
						color: $orange;
						&::before, &::after {
							left: 50%;
							opacity: 1;
							transition: all cubic-bezier(0, 0.92, 0.45, 1.02) 0.2s;
						}
					}
					&::before, &::after {
						content: '';
						width: 30px;
						height: 1px;
						background-color: $orange;
						display: block;
						position: absolute;
						margin-left: -15px;
						opacity: 0;
						margin-top: 4px;
					}
					&::before {
						margin-top: -5px;
						left: -100%;
					}
					&::after {
						left: 100%;
					}
				}
				&.current_page_item a::before, &.current_page_item a::after {
					left: 50%;
					opacity: 1;
					transition: all cubic-bezier(0, 0.92, 0.45, 1.02) 0.2s;
				}
			}
		}
	}
	.menuOpener{
		display: block;
		width: 40px;
		height: 4px;
		background: $black;
		position: absolute;
		top: 40px;
		right: 30px;
		cursor:pointer;
		z-index: 1000;
		&::before, &::after {
			display: block;
			width: 40px;
			height: 4px;
			background: $black;
			content:'';
			position:absolute;
		}
		&::before{
			margin-top:-9px;
		}	&::after{
				 margin-top:9px;
			 }
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/


.menu-social-media-container {
	position: fixed;
	right: 0px;
	Z-index: 130;
	top: 50%;
	transform: translateY(-125px);
	li {
		background-color: $AlejandraGrey;
		margin: 10px 0;
		a {
			color: $AlejandraGrey;
			text-decoration: none;
			font-family: $montserrat;
			text-transform: uppercase;
			width: 50px;
			height: 50px;
			overflow: hidden;
			display: block;
			&::before {
				font-family: "untitled-font-1" !important;
				font-style: normal !important;
				font-weight: normal !important;
				font-variant: normal !important;
				text-transform: none !important;
				speak: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				font-size: 21px;
				text-align: center;
				width: 100%;
				line-height: 50px;
				color:white;
			}
		}
		&.icon-facebook a::before{
			content: "\64";
		}
		&.icon-pinterest a::before{
			content: "\61";
		}
		&.icon-gplus a::before{
			content: "\65";
		}
		&.icon-instagram a::before{
			content: "\63";
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

.btnContainer {
	text-align:center;
	padding-top:100px ;
}

#content {
	margin-top: 1.5em;
}

.blogList {
	.hentry {
		background-color:$white;
	}
}
		.hentry {
			padding: 190px 50px;
			text-align: center;
			overflow: hidden;
			position: relative;
			border: 5px solid $white;

			&:hover img, &:focus img{
				transform: scale(1.1) rotateZ(2deg);
				opacity:0.4;
			}
			h2 {
				font-size:2em;
				position: relative;
				z-index: 2;
				a {
					color:$black;
					cursor:pointer;
					text-transform: none;
					font-size: 1.6em;
				}
				&::after, &::before {
					display:none;
				}

			}

			img {
				position: absolute;
				left: 0;
				top: 0;
				opacity: 1;
				transition: $blogTransition;
				min-width: 100%;
				height: auto;
				min-height: 100%;
			}
			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}
		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;
}



.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: #323944;
	color: #fff;
	padding: 0 0 30px 0;
	#inner-footer {
		text-align:center;
		padding-top: 20px;
	}
	svg {
		width: 150px;
		fill: $orange;
		display: inline-block;
		vertical-align: middle;
		margin: 0 30px;
		.alterColor {
			fill:$white;
		}
	}
	nav {
		display:inline-block;
		vertical-align: middle;
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {
				float: none;
				display: inline-block;
				&.qtranxs-lang-menu {
					display:none;
				}
			}

		}

	} /* end .footer-links */


	.copyright{
		font-size: 0.8rem;
	}

/******PAGE ACCUEIL************/

.page-template-homepage {
	.portfolioSingle {
		margin-top:15px;
		margin-bottom:15px;
	}
	.alejandraDescription {
		img {
			width: 100%;
		}
		.descriptionContent {
			margin-top:-200px;
			text-align: center;
		}
	}
	.homepageSlider {
		height: calc(100% + 60px);
		margin: 0;
		li {
			background-size: cover;
			height: 670px;
			background-position: center;
		}
	}
	.eventKind {
		z-index: 100;
		position: relative;
		background: $light-gray;

		> div {
			transform: translateY(-60px);
			.eventButton {
				background-color: $black;
				border: 10px solid $white;
				width: 80%;
				margin: 0 auto;
				position: relative;
				a {
					&::after {
						display: block;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.5);
						content: attr(data-category);
						color: white;
						position: absolute;
						top: 0;
						left: 0;
						line-height: 402px;
						text-align: center;
						font-size: 16px;
						letter-spacing: 2px;
						opacity: 0;
						transform: scale(0.8);
						transition: $basicTransition;
					}
					&:hover::after, &:active::after {
						opacity: 1;
						transform: scale(1);
					}
				}

				img {
					width: 100%;
					position: relative;
				}
			}

			.eventTitleContainer {
				h2 {
					text-transform: none;
					text-align: center;
					font-size: 2.6em;
					padding: 10px 0;
					&::after, &::before {
						display: none;
					}
				}
			}
		}
		.eventsDescription {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}
	.alejandraDescription {
		h2 {
			margin-bottom: 120px;
			text-align: center;
			position: relative;
			z-index: 10;
			&::before, &::after {
				margin: 20px auto;
				background-color: $AlejandraGrey;
			}
		}

		.descriptionContent {
			  p {
				background-color: $AlejandraGrey;
				color: $white;
				padding: 50px;
				font-family: $montserrat;
				margin-top: 20%;
				font-size: 1.5em;
				letter-spacing: 2px;
			}
			.btn {
				margin: 0 auto;
				transform: translateY(0px);
			}
		}
	}
	.lastEvents {
		background-color: $AlejandraGrey;
		position: relative;
		padding: 50px 0;
		&::before {
			height: 100%;
			top: 0;
			content: '';
			width: 13%;
			background-color: $white;
			position: absolute;
		}
		h2 {
			text-align: center;
			&::before, &::after {
				background: $white;
				margin: 20px auto;
			}
		}
	}
	.portfolioSingle {
		.post-categories {
			text-align: center;
			position: absolute;
			width: calc(100% - 30px);
			z-index: 2;
			margin-top: 5px;
			a {
				color: white;
				font-family: $montserrat;
				text-transform: uppercase;
				z-index: 10;
				font-size: 1em;
				letter-spacing: 2px;
			}
		}
		a {
			&:hover, &:focus {
				text-decoration: none;
				.articleInfos {
					opacity: 1;
					top: 8%;
				}
			}

		}
		.articleContainer {
			width: 90%;
			margin: 0 auto;
			position: relative;
			text-align: center;
			img {
				max-width: 100%;
				height: auto;
			}
			.articleInfos {
				width: 78%;
				height: 84%;
				top: 16%;
				left: 11%;
				background: #fff;
				padding: 20px 0;
				transition: $basicTransition;
				position: absolute;
				opacity: 0;
				h3 {
					font-family: $playfair;
					color: $orange;
					text-transform: uppercase;
					font-size: 2em;
					line-height: 1;
					position: relative;
					font-weight: 900;
					color: $black;
					text-align: center;
					min-height: 60px;
				}
				time {
					color: $AlejandraGrey;
					font-family: $montserrat;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
			}

		}

	}
}

/******PAGE SAVOIR FAIRE************/
.page-template-Service  {
	h2 {
		width:90%;
		text-align:center;
		margin: 0 auto;
	}
	article {
		.descriptionContainer {
		}
		h3 {
			font-size:5em;
			text-align:center;
		}
		blockquote {
			font-size: 4em;
			font-family: $playfair;
			font-weight: 900;
			top: 0;
			color: whitesmoke;
			text-align: center;
		}
	}
}
/******PAGE AGENCE************/

.page-template-Agency {
	.imgContainer {
		display:none;
	}
	.meetAlejandra {
		background-color: $light-gray;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 10px;
			border-bottom: 50px solid whitesmoke;
			border-left: calc( 100vw - 80px ) solid transparent;
			margin-top: -120px;
		}
		.meetAlejandraSingle {
			> div {
				&.meetAlejandraText {
					z-index:10;
					margin: 40px 0;
				}
				> p {
					vertical-align: middle;
					display: inline-block;
					background-color: white;
					padding:20px;
				}
			}
			&:nth-child(odd) .imgContainer {
				float: right;
				img {
					position:absolute;
					right:15px;
				}
			}
			img {
				max-width: 120%;
			}
		}
	}
}

/******PAGE TEMOIGNAGES************/

.page-template-testimonial {
	.testimonialContent {
		display: block;
		width: 100%;
		font-size: 1.1em;
		font-style: italic;
		font-weight: 100;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	h2 {
		text-align:center;
	}
}

/******PAGE BLOG************/
.page-template-blog {

	.paginationContainer {
		clear: both;
		text-align: center;
		padding: 30px;
		background-color:$AlejandraGrey;
		width: calc(100% - 10px);
		margin: 0 auto;
		margin-bottom: 10px;
		.current {
			width: 20px;
			height: 20px;
			display: inline-block;
			color: $AlejandraGrey;
			background-color: $white;
			line-height: 20px;
			border-radius: 50%;
			font-size: 1.5rem;
			margin: 0 5px;
		}
		a{
			color:$white;
			font-size: 1.5rem;
			margin: 0 5px;
		}
	}
}

/******PAGE CONTACT************/

.page-template-Contact {
	main {
		background-color: $light-gray;
	}
	h2 {
		font-size:3em;
		text-align:center;
		&::before, &::after {
			width: 30px;
			height:1px;
			margin: 15px auto;
		}
	}
	.contact {
		text-align:center;
		transform: translateY(-80px);
		background-color: white;
		z-index:100;
		padding:50px;
		position: relative;
		.adressSingle {
			position:relative;
			margin: 40px 0;
			h3 {
				position: absolute;
				font-size: 6em;
				top: 0;
				line-height: 0.7;
				margin: 0;
				width: 100%;
				opacity: 0.5;
			}
			p {
				position:relative;
				z-index:2;
				font-weight:bold;
			}
		}
		.menu-social-media-container {
			position:relative;
			transform: none;
			li {
				display: inline-block;
				margin:10px;
				a::before {
					width: 50px;
				}
			}
		}
		.btn {
			padding: 12px 30px;
			border: 2px solid $black;
			border-radius: 0;
			margin: 0 10px;
			&::after, &::before {
				display:none;
			}
			&:hover{

			}
		}
		.formContainer {

			> p {
				text-align: left;
				margin-bottom:58px;
			}
			.btn {
				float:left;
				margin:0;
			}
		}
	}
}

/*________SINGLE PORTFOLIO___________*/


.single-events {
	.grid {
		overflow:visible;
		margin-top: 10px;
	}
	.grid-sizer {
		width:calc(50% - 10px);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}.gutter-sizer {
		 width: 10px;
	 }
	.grid-item{
		width:calc(50% - 10px);
		margin-bottom:10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/******PAGE PORTFOLIO ALTERNATIVE************/
.page-template-portfolioAlter {
	.portfolioSlider {
		height: calc(100% + 60px);
		margin: 0;
		li {
			background-size: cover;
			height: 670px;
			background-position: center;
		}
	}

	.portfolioAlter {
		#gallery-content-center img {
			width: calc(50% - 10px);
			margin-bottom: 10px;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
			margin-left: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			/*&.grid-item--2 {
                width:48%;
            }*/
		}
		.portfolioFilters {
			transform: translateY(-50px);
			position:relative;
			z-index:100;
			span {
				&:hover {
					cursor:pointer;
				}
				a {
					width: 100%;
					display: block;
					margin: 5px auto;
					text-align: center;
					padding: 20px 0;
					background-color: white;
					border: 5px solid $AlejandraGrey;
					font-family:$playfair;
					font-weight:900;
					color:$black;
					font-size:2em;
				}
			}
			#filter-all {
				text-align:center;
				width:100%;
				display:block;
				font-family:$playfair;
				font-weight:900;
				color:$black;
				font-size:2em;
				text-decoration:underline;
			}
		}
	}
}

.single-post {
	.articleMain {
		footer {
			text-align:center;
			font-size:0;
			margin-bottom: 30px;
			margin-top: 30px;
			border-bottom: 1px solid $AlejandraGrey;
			border-top: 1px solid $AlejandraGrey;
			span {
				display:inline-block;
				vertical-align:top;
				font-size: 1.3rem;
				padding:30px;
				min-height:81px;
				&.previousLink, &.nextLink {
					width:30%;
					background-color:$AlejandraGrey;
					a {
						color:$white;
					}
				}
				&.previousLink a::before {
					content:'';
					border:10px solid transparent;
					border-right-color: white;
					display:inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}
				&.nextLink a::after {
					content:'';
					border:10px solid transparent;
					border-left-color: white;
					display:inline-block;
					vertical-align: middle;
					margin-left: 10px;
				}
				&.postInfos {
					width:40%;
				}
			}
		}
		article {
			section {
				h2 {
					text-align:center;
					&::before, &::after {
						display:none;
					}
				}
			}
		}
	}
}



